  header {
      font-family: "Oswald", sans-serif;
      
      height:100px;
  }

  .clinic-name{
    padding: 10px 20px;
    border-radius: 20px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-decoration: none !important;
    font-weight: 500;
  }