<!-- Remove the container if you want to extend the Footer to full width. -->
<div style="background-color: var(--primary-color);">

    <!-- Remove the container if you want to extend the Footer to full width. -->
    <div class="container">

        <footer class="text-white text-center text-lg-start">
            <!-- Grid container -->
            <div class="container p-1">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-lg-4 col-md-12 mb-md-0 mt-4">
                        <a class="m-1 text-white" href="/">
                            <h2 class="text-uppercase mb-4">{{clinicName}}</h2>
                        </a>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-4 col-md-6 mb-2 mb-md-0 mt-md-4">
                        <div class="mt-4">
                            <!-- Location -->
                            <a class="m-2" href="{{location}}" target="value_blank">
                                <i class="bi bi-geo-alt-fill text-white"></i>
                                <span class="h5 text-white">
                                    <u>Location</u></span>
                            </a>

                            <p class="m-3">
                                {{address}}
                            </p>

                            <div class="m-2" aria-label="Phone Number">
                                <a class="text-white" href="tel:{{phoneNo}}">
                                    <i class="bi bi-telephone-fill"></i> {{phoneNo}}</a>
                            </div>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-4 col-md-6 mb-4 mb-md-0 mt-5" style="padding-right: 10%;">
                        <div class="m-2">
                            <i class="bi bi-clock-fill"></i>
                            <span class="h5 mb-4">
                                Our Hours:
                            </span>
                        </div>

                        <table class="table table-primary text-center m-3 p-3">
                            <tbody>
                                <tr>
                                    <td>Mon - Sat:</td>
                                    <td>9am - 9pm</td>
                                </tr>
                                <tr>
                                    <td>Sunday:</td>
                                    <td>Closed</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </div>
            <!-- Grid container -->

            <!-- Grid container -->
            <div class="container p-2 pb-0 text-center">

                <!-- Section: Social media -->
                <section class="mb-2">
                    <!-- Facebook -->
                    <a class="btn btn-primary btn-floating m-2"
                        style="background-color: white; border-radius: 40%; color: var(--primary-color); font-size: larger;"
                        href="#!" role="button"><i class="bi bi-facebook"></i></a>


                    <!-- Twitter -->
                    <a class="btn btn-primary btn-floating m-2" style="background-color: #55acee;" href="#!"
                        role="button"><i class="bi bi-twitter-x"></i></a>

                    <!-- Google -->
                    <a class="btn btn-primary btn-floating m-2" style="background-color: #dd4b39;" href="#!"
                        role="button"><i class="bi bi-google"></i></a>

                    <!-- Instagram -->
                    <a class="btn btn-primary btn-floating m-2" style="background-color: #ac2bac;" href="#!"
                        role="button"><i class="bi bi-instagram"></i></a>

                    <!-- Linkedin -->
                    <a class="btn btn-primary btn-floating m-2" style="background-color: #0082ca;" href="#!"
                        role="button"><i class="bi bi-linkedin"></i></a>
                </section>
                <!-- Section: Social media -->
            </div>
            <!-- Grid container -->

            <!-- Copyright -->
            <div class="text-center p-3" style="color: var(--secondary-color); background-color: rgba(0, 0, 0, 0.2);">
                {{copyRightText}}
                <a class="text-white" href="/">{{clinicLink}}</a>
            </div>
            <!-- Copyright -->
        </footer>

    </div>
    <!-- End of .container -->

</div>